@media (max-width: 1024px) and (min-width: 425px) {
    :root{
      font-size: 15px;
    }
    .main_page h1 {
      width: 50%;
    }
  }
  @media (max-width: 768px) and (min-width: 0px) {
    nav ul{
      display: none;
    }
    .check_btn{
      display: inline;
    }
    .main_page {
      h1{
        font-size: 2.5rem;
      }
    }
    .responsive_list{
      padding-top: 5%;
      position: fixed;
      z-index: 999;
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: #000;
      color: #fff;
      margin-top: 0%;
      top: 0;
      left: 0;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      //------------------------:;
      // .show{
      //   right: 0;
      // }
  }                                       
  .open{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}

    .responsive_list {
      .container {
        >:nth-child(1){
          display: flex;
          justify-content: space-between;
          align-content: center;
        }
      }
    }
    .responsive_list{
      .container {
        >:nth-child(1){
          >h2{
            margin: 0;
          }
        } 
      }
    }
    .responsive_list ul{
      padding: 0;
      list-style-type: none;
      margin-top: 10%;
    }
    .responsive_list li{
      margin-bottom: 3%;
    }
    .responsive_list a{
      text-decoration: none;
      color: #fff;
      text-transform: capitalize;
      font-weight: 600;
    }
  }
  @media (max-width: 425px) and (min-width: 0px) {
    :root{
        font-size: 13px;
    }
    .main_page{
        background-image: url(../images/mobile/image-hero.jpg);
        background-size: 100% 190%;
    }
    .main_page h1 {
        width: 70%;
    }
  }
  /*----------------------main page responsive end----------------------*/
  /*----------------------creation responsive start----------------------*/
  @media (max-width:1250px) and (min-width:890px){
    .description{
        padding: 1rem;
    }
  }
  // @media (max-width:980px) and (min-width:890px){
  //   .description{
  //       right: 5%;
  //   }
  // }
  @media (max-width:890px) and (min-width:0px){
    .creation .container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .description{
      background-color: transparent;
      padding: 0;
      text-align: center;
      right: 0%;
      top: 100%;
      width: 100%;
    }
  }
  @media (max-width:750px) and (min-width:570px){
    .bg_img{
      width: 35rem;
      height: 25rem;
    }
  }
  @media (max-width:570px) and (min-width:490px){
    .bg_img{
      width: 30rem;
      height: 20rem;
    }
  }
  @media (max-width:490px) and (min-width:375px){
    .bg_img{
      width: 25rem;
      height: 15rem;
    }
  }
  @media (max-width:375px) and (min-width:0px){
    .bg_img{
      width: 15rem;
      height: 10rem;
    }
  }
  /*----------------------creation responsive end----------------------*/
  /*----------------------gallery responsive start----------------------*/
  @media (max-width:1190px) and (min-width:600px){
    .img{
      grid-template-columns: 50% 50%;
    }
  }
  @media (max-width:1190px) and (min-width:890px){
    .img {
      span{
        bottom: 35px;
        left: 30%;
      }
    }
  }
  @media (max-width:890px) and (min-width:600px){
    .gallery{
      margin-top: 35%;
    }
  }
  @media (max-width:890px) and (min-width:768px){
    
    .img {
      span{
        bottom: 35px;
        left: 20%;
      }
    }
  }
  @media (max-width:600px) and (min-width:0px){
    .img{
      grid-template-columns: 100%;
      row-gap: 20px;
    }
    .desktop_img{
      display: none;
    }
    .mobile_img{
      display: block;
      width: 100%;
    }
  }
  @media (max-width:600px) and (min-width:0px){
    .gallery{
      margin-top: 80%;
    }
    .img {
      span{
        bottom: 10px;
        left: 10px;
      }
    }
  }
  /*----------------------gallery responsive end----------------------*/
  /*----------------------footer responsive start----------------------*/
  @media (max-width:768px) and (min-width:0px){
    footer .container, .list{
      flex-direction: column;
    }
    .list,.social,footer p{
      text-align: center;;
    }
  .list a{
      margin-top: 5%;
  }
  }
  /*----------------------footer responsive end----------------------*/